/*
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
:root {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif; }

html {
  box-sizing: border-box; }

body {
  line-height: 1; }

*, *::before, *::after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote::before, blockquote::after, q::before, q::after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

input, textarea,
select, button {
  border: 0; }
  input:focus, textarea:focus,
  select:focus, button:focus {
    outline: none; }

button {
  border: 0;
  cursor: pointer; }
  button[disablse] {
    cursor: default; }

input {
  -webkit-appearance: none; }

.product-cart {
  display: block;
  width: 250px;
  padding: 20px;
  border: 1px solid #eee;
  background: #fff; }

.product-cart__title {
  display: block;
  margin-bottom: 10px; }

.product-cart__attributes {
  display: table;
  width: 100%;
  margin-bottom: 10px; }

.product-cart__attribute {
  display: table-row; }
  .product-cart__attribute-title, .product-cart__attribute-text {
    padding-bottom: 5px; }
  .product-cart__attribute-title {
    display: table-cell;
    width: 65px;
    color: #999; }
  .product-cart__attribute-text {
    display: table-cell;
    padding-left: 5px;
    vertical-align: top; }

.product-cart__image {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 200px;
  margin: 0 auto 10px; }

.product-cart__materials {
  display: table;
  width: 100%; }

.product-cart__material {
  display: table-row; }
  .product-cart__material-description, .product-cart__material-color {
    display: table-cell;
    padding-bottom: 15px;
    vertical-align: top; }
  .product-cart__material-description {
    padding-right: 15px; }
  .product-cart__material-status {
    border-bottom: 1px dotted #999;
    font-size: .8em;
    color: #999; }
  .product-cart__material-color {
    width: 40px;
    text-align: right; }
  .product-cart__material-image {
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50px;
    background: red; }

.product-cart__price {
  margin-bottom: 15px;
  font-size: 1.25rem; }
  .product-cart__price-old {
    padding-left: 5px;
    font-size: .8em;
    text-decoration: line-through;
    color: #999; }

.product-cart__buy {
  display: table;
  width: 100%; }

.product-cart__number, .product-cart__basket {
  display: table-cell; }

.product-cart__number {
  font-size: 0; }
  .product-cart__number-button, .product-cart__number-input {
    display: inline-block;
    height: 25px; }
  .product-cart__number-button {
    width: 30px;
    background: #fff;
    border: 1px solid #ccc; }
  .product-cart__number-input {
    width: 35px;
    padding: 0 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center; }

.product-cart__basket {
  text-align: right; }

.product-cart__button {
  display: inline-block;
  width: 90px;
  height: 25px;
  color: #fee;
  background: #f00; }
