<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Bem learning</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="/stylesheet/main.css">
</head>
<body>
<!-- Product -->
<div class="product-cart">
    <!-- Title -->
    <h3 class="product-cart__title">Стол эргономичный, правый</h3>

    <!-- Attributes -->
    <div class="product-cart__attributes">
        <div class="product-cart__attribute">
            <span class="product-cart__attribute-title">Артикул</span>
            <span class="product-cart__attribute-text">14578455</span>
        </div>

        <div class="product-cart__attribute">
            <span class="product-cart__attribute-title">ШхГхВ</span>
            <span class="product-cart__attribute-text">1400 х 800 х 750 мм</span>
        </div>
    </div>

    <!-- Image -->
    <img class="product-cart__image" src="../image/table_ergonomic.jpg" alt="Table ergonomic">

    <!-- Materials -->
    <div class="product-cart__materials">
        <button class="product-cart__choose-material-button">
            <span class="product-cart__choose-material-name">Орех Французкий</span>
            <img class="product-cart__choose-material-image" src="../image/walnut_french.jpg" alt="Walnut French">
        </button>

        <div class="product-cart__materials-list">
            <!-- Material -->
            <div class="product-cart__material product-cart__material--active">
                <div class="product-cart__material-description">
                    <h4 class="product-cart__material-name">Орех Французкий</h4>
                    <span class="product-cart__material-status">Под заказ</span>
                </div>

                <div class="product-cart__material-color">
                    <img class="product-cart__material-image" src="../image/walnut_french.jpg" alt="Walnut French">
                </div>
            </div>

            <!-- Material -->
            <div class="product-cart__material">
                <div class="product-cart__material-description">
                    <h4 class="product-cart__material-name">Орех Английский</h4>
                    <span class="product-cart__material-status">Есть на складе</span>
                </div>

                <div class="product-cart__material-color">
                    <img class="product-cart__material-image" src="../image/walnut_english.jpg" alt="Walnut English">
                </div>
            </div>
        </div>
    </div>

    <!-- Price -->
    <div class="product-cart__price">
        <span class="product-cart__price-new">18 990 руб.</span>
        <span class="product-cart__price-old">24 300 руб.</span>
    </div>

    <!-- Buy -->
    <div class="product-cart__buy">
        <!-- Number -->
        <div class="product-cart__number">
            <button class="product-cart__number-button" type="button">-</button>
            <input class="product-cart__number-input" type="text" value="1">
            <button class="product-cart__number-button" type="button">+</button>
        </div>

        <!-- Button -->
        <div class="product-cart__basket">
            <button class="product-cart__basket-button" type="button">В корзину</button>
        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/javascript/main.js"></script>
</body>
</html>