<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Bem learning</title>
    <link rel="stylesheet" href="../stylesheet/main.css">
</head>
<body>
<!-- Product -->
<div class="product-cart">
    <!-- Title -->
    <h3 class="product-cart__title">Стол эргономичный, правый</h3>

    <!-- Article -->
    <p class="product-cart__article">
        <span class="product-cart__article-title">Артикул</span> 14578455
    </p>

    <!-- Size -->
    <p class="product-cart__size">
        <span class="product-cart__size-title">ШхГхВ</span> 1400 х 800 х 750 мм
    </p>

    <!-- Image -->
    <div class="product-cart__image">
        <img class="product-cart__image-source" src="table_ergonomic.jpg" alt="Table ergonomic">
    </div>

    <!-- Materials -->
    <div class="product-cart__materials">
        <!-- Material -->
        <div class="product-cart__material">
            <div class="material">
                <div class="material__description">
                    <h4 class="material__title">Орех Французкий</h4>
                    <span class="material__availability">Под заказ</span>
                </div>

                <div class="material__image">
                    <img class="material__image-source" src="walnut_french.jpg" alt="Walnut French">
                </div>
            </div>
        </div>

        <!-- Material -->
        <div class="product-cart__material">
            <div class="material">
                <div class="material__description">
                    <h4 class="material__title">Орех Английский</h4>
                    <span class="material__availability">Есть на складе</span>
                </div>

                <div class="material__image">
                    <img class="material__image-source" src="walnut_english.jpg" alt="Walnut English">
                </div>
            </div>
        </div>
    </div>

    <!-- Prise -->
    <div class="product-cart__prise">
        <span class="product-cart__price-new">18 990</span>
        <span class="product-cart__price-old">24 300</span>
    </div>

    <!-- Buy -->
    <div class="product-cart__buy">
        <!-- Number -->
        <div class="product-cart__number">
            <div class="number">
                <div class="number__decrement">
                    <button class="number__button number__button-decrement" type="button">-</button>
                </div>

                <div class="number__value">
                    <input class="number__input-value" type="text">
                </div>

                <div class="number__increment">
                    <button class="number__button number__button-increment" type="button">+</button>
                </div>
            </div>
        </div>

        <!-- Button -->
        <div class="product-cart__button">
            <button class="button" type="button">В корзину</button>
        </div>
    </div>
</div>
</body>
</html>