.product-cart {
    &__title {
        display: block;
        margin-bottom: 10px;
    }

    &__attributes {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    &__attribute {
        display: table;

        &-title,
        &-text {
            padding-bottom: 5px;
        }

        &-title {
            display: table-cell;
            width: 65px;
            color: #999;
        }

        &-text {
            display: table-cell;
            padding-left: 5px;
            vertical-align: top;
        }
    }

    &__image {
        display: block;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 200px;
        margin: 0 auto 10px;
    }

    &__choose-material {
        &-button {
            position: relative;
            display: table;
            width: 100%;
            height: 40px;
            padding-left: 45px;
            padding-right: 25px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            background: #fff;

            &::after {
                position: absolute;
                top: 16px;
                right: 10px;
                border-top: 8px solid #999;
                border-right: 6px solid transparent;
                border-left: 6px solid transparent;
                content: '';
            }
        }

        &-name {
            // empty
        }

        &-image {
            position: absolute;
            top: 6px;
            left: 10px;
            width: 25px;
            height: 25px;
            border-radius: 50px;
        }
    }

    &__materials {
        position: relative;

        &-list {
            $paddingSize: 20px;
            $borderSize: 1px;
            position: absolute;
            top: 39px;
            display: none;
            width: calc(100% + #{$paddingSize});
            margin: 0 0 10px calc((#{$paddingSize} / 2) * -1);
            border: 1px solid #ccc;
            background: #fff;
        }
    }

    &__material {
        display: table;
        width: 100%;
        padding: 0 20px;

        &:hover {
            color: #fff;
            background: #f00;
            cursor: pointer;
        }

        &-description,
        &-color {
            display: table-cell;
            padding: 10px 0;
            vertical-align: top;
        }

        &-description {
            padding-right: 15px;
        }

        &-name {
            // empty
        }

        &-status {
            border-bottom: 1px dotted #999;
            font-size: .8em;
            color: #999;

            .product-cart__material:hover & {
                border-bottom-color: #fcc;
                color: #fcc;
            }
        }

        &-color {
            width: 40px;
            text-align: right;
        }

        &-image {
            display: block;
            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 50px;

            background: red;
        }
    }

    &__price {
        margin-bottom: 15px;
        font-size: 1.25rem;

        &-old {
            padding-left: 5px;
            font-size: .8em;
            text-decoration: line-through;
            color: #999;
        }

        &-new {
            // empty
        }
    }

    &__buy {
        display: table;
        width: 100%;
    }

    &__number,
    &__basket {
        display: table-cell;
    }

    &__number {
        font-size: 0;

        &-button,
        &-input {
            display: inline-block;
            height: 25px;
        }

        &-button {
            width: 30px;
            border: 1px solid #ccc;
            background: #fff;
        }

        &-input {
            width: 35px;
            padding: 0 10px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            text-align: center;
        }
    }

    &__basket {
        text-align: right;

        &-button {
            display: inline-block;
            width: 90px;
            height: 25px;
            color: #fee;
            background: #f00;
        }
    }
}
